body
{
    font-family: 'Dancing Script', cursive;
    background: rgb(0, 255, 179);
}

.header-div
{
    background-color: darkcyan;
    color:aquamarine;
}

.header-div p
{
    font-family: 'Teko', sans-serif;
    color: aquamarine;
    letter-spacing:2px;
    font-size:15px;
    font-weight:bold
}

.main_div button
{
    font-family: 'Teko', sans-serif;
    margin-top:25px;
    width:131px;
    font-weight:bolder;
    letter-spacing: 2.5px;
}

.copy_right_footer
{
    position:fixed;
    color:aquamarine;
    background-color: darkcyan;
    width:100%;
    font-size:17px;
    text-align: center;
    bottom: 0px;
    line-height: 3;
    text-shadow: 10px 10px 7px black ;
}